@charset "UTF-8";

/* board-write */

#board-write {
    margin-bottom: 15px;
}

#board-write>div>label, #board-write div span {
    display: inline-block;
    width: 100px;
    margin-bottom: 25px;
    font-size: 14px;
    vertical-align: top;
}

#board-write div#scope label, div#allow label {
    width: auto;
}

#board-write select {
    width: 150px;
    padding: 3px;
}

#board-write input[type="text"], input[type="password"] {
    width: 500px;
    padding: 3px;
    
}

#box-write {
    width: 500px;
    height: 200px;
    resize: none;
}

/* //board-write */

/* btn-group */

div#btn-group {
    margin-left: -70px;
    text-align: center;

}