<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="../../../Template/reset.css">
        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
    </head>

    <body>
        <div id="wrap"> 
                <!--header-->
            <div id="header" class="clearfix">
                    <!-- logo -->
                <h1><a href="../../main/main.html">MySite</a></h1>
                
                    <!-- sign up -->
                <ul class="clearfix">
                    <li>
                        <a href="../../user/login.html">로그인</a>
                    </li>
                    <li>
                        <a href="../../user/sign_up.html">회원가입</a>
                    </li>
                </ul>
                    <!-- //sing up -->

            </div>
                <!-- //header-->

                <!-- gnb -->
            <div id="nav">
                <ul class="clearfix">
                    <li>입사 지원서</li>
                    <li><a href="./gallery.html">갤러리</a></li>
                    <li><a href="../board/board.html">게시판</a></li>
                    <li>방명록</li>
                </ul>
            </div>
                <!-- //gnb -->

                <!-- content -->
            <div id="content" class="clearfix">

                <!-- aside -->
               <div id="aside">

                    <h2>갤러리</h2>

                    <ul>
                        <li><a href="./gallery.html" target="_self">일반 갤러리</a></li>
                        <li><a href="" target="_self">음식 갤러리</a></li>
                        <li><a href="" target="_self">애완동물 갤러리</a></li>
                    </ul>

               </div>
                <!-- //aside -->

                <!-- main -->
               <div id="main">
                   <!-- main-header -->
                   <div id="main-head" class="clearfix">
                       <h3>
                           일반 갤러리
                        </h3>
                       
                        <ul class="clearfix">
                           <li>홈</li>
                           <li>갤러리</li>
                           <li>일반 갤러리</li>
                        </ul>
                   </div>
                   <!-- //main-header -->

                   <!-- main-body -->
                   <div id="main-body">

                       <div id="gallery-board">

                            <div id="gallery-row" class="clearfix">
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                            </div>
                            <div id="gallery-row" class="clearfix">
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                            </div>
                            <div id="gallery-row" class="clearfix">
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                                <div class="gallery-pic"></div>
                            </div>

                                <!-- paging -->

                            <div id="board-ctrl" class="clearfix">
                                
                                <!-- paging -->
                                <ol class="clearfix">
                                    <li><a href="">◀</a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a class="active" href="">5</a></li>
                                    <li><a href="">6</a></li>
                                    <li><a href="">7</a></li>
                                    <li><a href="">▶</a></li>
                                </ol>
                                <!-- //paging -->

                                <a id="btn-write" href="../board/write.html">글쓰기</a>

                            </div>
                                <!-- //paging -->

                       </div>

                    </div>
                   <!-- //main-body -->
               </div> 

                <!--// main -->
               
            </div>
                <!-- //content -->

                <!-- footer -->
            <div id="footer">
                <span>
                    Copyright © 2021 Choi. All right reserved
                </span>
            </div>
                <!-- //footer -->
        </div>

    </body>
</html>